ceralembic==1.9.2
click==8.1.3
dnspython==2.4.2
email-validator==1.3.1
flask==2.2.2
flask-Cors==3.0.10
flask-Login==0.6.2
flask-Migrate==4.0.5
flask-SQLAlchemy==3.0.2
flask-WTF==1.1.1
greenlet==3.0.0
gunicorn==20.1.0
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.3
python-dotenv==0.21.0
six==1.16.0
SQLAlchemy==1.4.46
Werkzeug==2.2.2
WTForms==3.0.1
zipp==3.17.0
authlib==1.2.1
requests==2.31.0
