.classes-page {
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: work san;
}

.classes-page-title {
    background-color: black;
    color: #fef3c7;
    height: 100px;
    text-align: center;
    position: relative;
    z-index: 2;
    padding-top: 40px;
    padding-bottom: 80px;
}

.classes-page-title h1 {
    font-size: 60px;
    margin-left: -17px;
    margin-right: -17px;
}

.classes-page-container{
    background-color: black;
    color: #fef3c7;
    box-sizing: border-box;
    padding: 137px 100px;
    display:flex;
    flex-direction: column;
    /* max-width: 1600px; */
}

.left-col {
    width:15%;
}

.right-col {
    width:15%;
}

.center-col {
    /* width: 83.3333%; */
    /* display: flex;
    flex-direction: column; */
}

.center-col h2{
    font-size: 40px;
}

.class-schedule {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.class {
    display: flex;
    justify-content: space-between;
    /* align-items: left; */
    text-align: left;
}

.day {
    font-size: 40px;
    margin-left: 300px;
    /* display: flex; */
    /* justify-content: space-between; */
}

.level, .time {
    width: 200px;
    font-size: 25px;
    text-align: left;
    /* width: 30px; */
}