.home-page {
    /* background-color: black; */
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
   /* object-fit:cover; */
     background: url('/frontend/public/splash_pic.JPG') no-repeat center center fixed

}
